html {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-weight:300;
  font-size:18px;
  background: #000000 url("../bg/back.jpg") 50% 50% no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 0.5px rgba(0,0,0,0.5);
}

/*input {
  display:none;
}*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

body {
  padding: 0;
  margin:0;
}
h1 {
  font-weight:300;
  margin:0;
  font-size: 38px;
}
#footer {
  position: absolute;
  padding:5px;
  bottom: 0px;
  font-size:12px;
  background-color:#000000;
}

div.container {
  transition: height 0.8s;
  position:fixed;
  height:300px;
  width:100%;
  top: -250px;
  padding-bottom:1px;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

div.container.full {
  position: relative;
  height:100%;
  top: auto;
}

div.content {
  margin: 0;
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%);
  background-color: rgba(255,255,255,0.07);
  width:100%;
  padding: 0;
  height:300px;
  border: 1px solid rgba(255,255,255,0.1);
  border-width: 1px 0 1px 0;
}
div.definition {
  padding:40px 0 35px 120px;
  float:left;
  display:none;
}

div.calculator {
  float:left;
}

div.control {
  position:absolute;
  float:right;
  background-color: rgba(255,255,255,0.0);
  height:280px;
  right:0;
  margin: 0;
  width:0;
  overflow:hidden;
  text-align:center;
  transition: width 0.32s, padding 0.32s, background-color 0.32s, border-left 0.32s;
  white-space: nowrap;
  text-align:left;
  padding:0 0 20px 30px;
  border-left: 1px solid rgba(255,255,255,0.0);
}

div.control .handle {
  transition: opacity 0.32s;
  position:absolute;
  top:144px;
  left:7px;
}
div.control input {
  width:38px;
  background-color: rgba(0,0,0,0.4);
  border:1px solid #ffffff;
  color:#ffffff;
  padding:4px;
  font-size:18px;
  font-family: 'Lato', sans-serif;
  margin-left:6px;
}

div.control .inputspacer {
  width:16px;
  display:inline-block;
}

div.control.preview {
  width:180px;
  background-color: rgba(0,0,0,0.8);
  border-left: 1px solid rgba(255,255,255,0.15);
}

div.control hr {
  margin-left: -20px;
  color: #ffffff;
}

div.output {
  padding-top:15px;
  /*float: right;*/
  text-align:center;
  margin: auto;
  width:370px;
}

div.output .time {
  font-size:100px;
}

div.output .details {
  text-align:center;
}

div.output div.progressbar {
  width:100%;
  background-color:rgba(255,255,255,0.3);
  height:2px;
  border: 1px solid rgba(255,255,255,0.6);
  margin: 26px 0 8px;
}

div.output div.progressbar div.progress {
  background-color:#111111;
  width:50%;
  height:2px;
}

div.social {
  margin-top:20px;
  margin-bottom: 16px;
  font-size:16px;
  transition: opacity 0.32s;
  height:36px;
  width:100%;
  text-align:center;
}

div.social .networks {
  margin-top: -20px;
  font-size:28px;
  opacity:0;
  height: 0;
  overflow:hidden;
  transform: scale(0.1,0.1);
  transition: height 0s 0.2s, opacity 0.2s, margin-top 0.2s, transform 0.2s;
}

div.social .networks.visible {
  margin-top: 15px;
  opacity:1;
  height: 30px;
  transform: scale(1, 1);
  transition: height 0s 0s, opacity 0.2s, margin-top 0.2s, transform 0.2s;
}

a {
  color: #ffffff;
  text-decoration: none;
}

.pronounciation {
  margin-top:0;
  font-family: Lucida Sans Unicode;
}

.category {
  margin:0;
}

.description {
  padding-left:0;
}

.description i {
  margin-right:30px;
}

.inputgroup {
  margin:0 0 10px;
  padding: 0 0 0 20px;
}

div.featherlight-content {
  background:rgba(255, 255, 255, 0.9) !important;
  border-radius: 4px;
}

div.featherlight-content textarea{
  background-color:transparent;
}


.featherlight-content * {
  font-weight:300;
  color:#000000;
  text-shadow: none;
}

#share textarea {
  width: 100%;
  height:80px;
}

.nav {
  -webkit-transition: opacity 0.3s;
  margin-top:8px;
  font-size:30px;
  font-weight: bold;
  opacity:0.6;
  cursor:pointer;
}

.nav:hover {
  opacity:1.0;
}

.nav.nav-left {
  float:left;
}

.nav.nav-right {
  float:right;
}

.nav.nav-disabled {
  opacity:0.3;
  cursor:default;
}

.popover-wrapper {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  background-color: rgba(255,255,255,0.4);
  display:none;
}

.popover {
  margin: 100px auto;
  max-width: 400px;
  min-height:100px;
  padding: 30px;
  background-color: rgba(255,255,255,0.95);
  box-shadow: 0px 0px 8px #000000;
  color:#000000;
  text-shadow: none;
  font-weight:300;
}

.popover h3 {
  margin:0;
  padding:0;
}

.popover a {
  color: blue;
  font-size:14px;
  font-weight: 400;
  text-align:center;
  display:block;
}

.popover-wrapper.visible {
  opacity: 1;
}

.popover label {
  font-size:16px; font-weight:500;
}

.popover input {
  margin:0 auto;
  font-size:18px;
  width:280px;
  line-height:26px;
  float:left;
  padding:0 6px;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.popover button {
  float:left;
  border: 1px solid #888888;
  border-radius: 5px;
  background-color: rgba(0,0,0,0);
  line-height:26px;
  background-color: #cccccc;
  padding:0 20px;
  margin-left: 12px;
}

.slider-container {
  position:relative;
  width:100%;
  overflow:hidden;
  display:block;
  height:140px;
}

.slider {
  position:absolute;
  width:200%;
  left:0;
  -webkit-transition: left 0.32s;
}

.slider.position2 {
  left:-100%;
}

.formrow {
  width:50%;
  padding:0;
  margin:0;
  overflow:hidden;
  text-align: center;
  float:left;
}

.price-box {
  overflow: hidden;
  margin:auto;
  width:50%;
  float:left;
}

.price {
  -webkit-transition: background-color 0.32s;
  border: 1px solid #cccccc;
  font-size:30px;
  text-align:center;
  width: 100px;
  height:60px;
  padding:10px;
  font-weight:600;
  float:left;
  margin:38px;
  cursor:pointer;
  background-color: rgba(0,255,0,0);
}

.price:hover {
  background-color: rgba(0,255,0,0.1);
}

.price .description {
  font-size: 14px;
  font-weight: 300;
}

@media only screen and (min-width: 768px) {
    html {
      font-weight:100;
    }
    div.control:hover,
    div.control.preview {
      background-color: rgba(255,255,255,0.1);
      width:180px;
      border-left: 1px solid rgba(255,255,255,0.15);
    }

    div.control:hover .handle,
    div.control.preview .handle {
      opacity: 0;
    }
    div.container {
        padding-bottom:0;
    }
}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  html {
    font-weight:300;
  }
  .time {
    font-weight:100;
  }
}
