html {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  color: #ffffff;
  font-weight:300;
  font-size:18px;
  background: #000000 url("../bg/back.jpg") 50% 50% no-repeat;
  background-size: cover;
  text-shadow: 1px 1px 0.5px rgba(0,0,0,0.5);
}

/*input {
  display:none;
}*/
.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: auto;
    height: 100%;
  }
}

body {
  padding: 0;
  margin:0;
}
h1 {
  font-weight:300;
  margin:0;
  font-size: 38px;
}

#footer {
  position: fixed;
  padding:5px;
  bottom: 0px;
  font-size:12px;
  background-color:#000000;
}

.page {
  padding-top:100%;
}

div.container {
  transition: height 0.8s;
  position:fixed;
  height:300px;
  width:100%;
  top: -250px;
  padding-bottom:1px;

  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

div.container.full {
  position: fixed;
  height:100%;
  top: auto;
}

div.content {
  margin: 0;
  position: absolute;               /* 2 */
  top: 50%;                         /* 3 */
  transform: translate(0, -50%);
  background-color: rgba(255,255,255,0.07);
  width:100%;
  padding: 0;
  height:300px;
  border: 1px solid rgba(255,255,255,0.1);
  border-width: 1px 0 1px 0;
  transition: height 0.32s, top 0.32s;
}

div.content.fix {
  position:fixed;
  top:60px;
  height:130px;
  padding-top:0;
}

div.content .output {
  transition: transform 0.32s, padding 0.32s;
}
div.content.fix .output {
  transform: scale(0.5,0.5);
  padding:10px 0 0 0;
  height:30px;
}

div.content .navi {
  font-size: 28px;
  position:absolute;
  padding: 20px;
  bottom:0;
  transition: margin-left 0.32s;
  margin-left:-400px;
}

div.content.fix .navi {
  margin-left:0px;
}

div.content .output-container {
  transition: width 0.32s;
  width: 100%;
  float:right;
}

div.content.fix .output-container {
  width:400px;
}

div.content.fix .control {
  display:none;
}

div.definition {
  padding:40px 0 35px 120px;
  float:left;
  display:none;
}

div.calculator {
  float:left;
}

div.control {
  position:absolute;
  float:right;
  background-color: rgba(255,255,255,0.0);
  height:280px;
  right:0;
  margin: 0;
  width:0;
  overflow:hidden;
  text-align:center;
  transition: width 0.32s, padding 0.32s, background-color 0.32s, border-left 0.32s;
  white-space: nowrap;
  text-align:left;
  padding:0 0 20px 30px;
  border-left: 1px solid rgba(255,255,255,0.0);
}

div.control .handle {
  transition: opacity 0.32s;
  position:absolute;
  top:144px;
  left:7px;
}
div.control input {
  width:38px;
  background-color: rgba(0,0,0,0.4);
  border:1px solid #ffffff;
  color:#ffffff;
  padding:4px;
  font-size:18px;
  font-family: 'Lato', sans-serif;
  margin-left:6px;
}

div.control .inputspacer {
  width:16px;
  display:inline-block;
}

div.control.preview {
  width:180px;
  background-color: rgba(0,0,0,0.8);
  border-left: 1px solid rgba(255,255,255,0.15);
}

div.control hr {
  margin-left: -20px;
  color: #ffffff;
}

div.output {
  padding-top:35px;
  /*float: right;*/
  text-align:center;
  margin: auto;
  width:300px;
}

div.output .time {
  font-size:100px;
}

div.output .details {
  text-align:center;
}

div.output div.progressbar {
  width:100%;
  background-color:rgba(255,255,255,0.3);
  height:2px;
  border: 1px solid rgba(255,255,255,0.6);
  margin: 26px 0 8px;
}

div.output div.progressbar div.progress {
  background-color:#111111;
  width:50%;
  height:2px;
}

div.social {
  margin-top:20px;
  margin-bottom: 16px;
  font-size:22px;
  opacity: 0.2;
  transition: opacity 0.32s;
  height:36px;
}

div.social:hover {
  opacity: 1;
}
div.share {
  display: inline-block;
  width:22px;
  height:22px;
  position:relative;
}

div.share i {
  cursor: pointer;
}

a {
  color: #ffffff;
}

div.share:hover .label {
  opacity:1;
  display:block;
}

div.share .label {
  transition: opacity 0.32s;
  display:none;
  opacity:0;
  position:absolute;
  top:-14px;
  left:-100px;
  width:218px;
  text-align:center;
  font-size:12px;
}

.pronounciation {
  margin-top:0;
  font-family: Lucida Sans Unicode;
}

.category {
  margin:0;
}

.description {
  padding-left:0;
}

.description i {
  margin-right:30px;
}

.inputgroup {
  margin:0 0 10px;
  padding: 0 0 0 20px;
}

div.featherlight-content {
  background:rgba(255, 255, 255, 0.9) !important;
  border-radius: 4px;
}

div.featherlight-content textarea{
  background-color:transparent;
}


.featherlight-content * {
  font-weight:300;
  color:#000000;
  text-shadow: none;
}

#share textarea {
  width: 100%;
  height:80px;
}


@media only screen and (min-width: 768px) {
    html {
      font-weight:100;
    }
    div.control:hover,
    div.control.preview {
      background-color: rgba(255,255,255,0.1);
      width:180px;
      border-left: 1px solid rgba(255,255,255,0.15);
    }

    div.control:hover .handle,
    div.control.preview .handle {
      opacity: 0;
    }
    div.container {
        padding-bottom:0;
    }
}
@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0) {
  html {
    font-weight:300;
  }
  .time {
    font-weight:100;
  }
}
